

body {
  margin: 10px;
  
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
 background: #202433;
  overflow: hidden;
}

#root{
 background: #202433;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 85vh;
 
}


